<!DOCTYPE html>
<html lang="pl_PL">
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <%= include('partials/navigation', { menuLinks: menuLinks, activeLinkPath: path }) %>
    </nav>
    <main>
      <h1 class="heading">Newest Product</h1>
      <% if (newestProduct) { %>
        <div>New product data: <%= newestProduct %></div>
      <% } else { %>
        <div>No new products available.</div>
      <% } %>
    </main>
  </body>
</html>
